name: My custom CI

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
        default: '3.10'
      coverage:
        required: false
        type: boolean
        default: false
      doc:
        required: false
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
          
      - name: Build package
        run: |
          poetry build

      - name: Generate documentation
        if: ${{ inputs.doc }}
        run: |
            poetry run task doc

      # - name: Run tests
      #   run: |
      #     if ${{ inputs.coverage }}; then
      #       pip install coverage
      #       coverage run -m pytest
      #       coverage report -m
      #     else
      #       pytest
      #     fi
